.theme-background-color {
    background-color: #010c4c !important
}

.theme-color {
    color: #010c4c !important
}

.swal2-popup .swal2-styled.swal2-confirm {
    background-color:black !important;
}

.swal2-popup .swal2-styled.swal2-cancel {
    background-color:rgb(255, 255, 255) !important;
    color:#000000 !important;
    box-shadow: 0 0 2px 0 rgb(161, 161, 161);
}

.nav-tabs-code .nav-link{
    margin-bottom: 12px;
}

.tab-content .tab-pane {
    padding: 1.25rem;
    border: 1px solid #e6ecf1;
    border-radius: .25rem;
    background-color: #fff;
}

body, 
.form-control, 
.d-block, 
.btn, 
.dropdown-menu .dropdown-item, 
.alert-validation, 
.datepicker table tr td, 
.datepicker table tr th {
    font-size: .94rem!important;
}

/* this is the left menu */
.navbar-vertical .navbar-nav .nav-sm .nav-link {
    font-size: .94rem!important
}

.table thead th {
    font-size: .7rem!important;
}

.custom-select-sm {
    font-size: .9rem!important;

 
}

h5, .h5 {
    font-size: .94rem;
}

h6, .h6 {
    font-size: .725rem!important;
}

.modal-title {
    font-size: 1.2rem;
}

.d-block {
    font-weight: 500; 
}

.select2-results__option {
    font-size: inherit;
}

.badge {
    padding-top: 10px !important;
}

/*====== datatables*/
.datatable-header{
    padding-top: 15px;
}
.dataTables_wrapper {
    font-size: .94rem;
}
.navbar-vertical .navbar-nav .nav-link {
    font-size: .94rem;
}
.table td, .table th {
    font-size: .94rem;
}
.page-link {
    margin-top: 11px;
    padding: .3rem .75rem;
}
/*======*/

.alert-validation {
    padding: 20px 20px 9px 20px;
}
.alert-validation p {
    font-size: inherit;
    margin-bottom: 8px;
    line-height: 1.4!important;
}

.global-alert{
    display: none;
    position: fixed;
    top: 23px;
    right: 23px;
    width: 400px;
    margin: auto;
    z-index: 9999;
    border-radius: 8px;
    opacity: 0.8;
}
.global-alert p{
    margin: 0;
}

div.overlay .fa-sync:before {
    content: "\f021";
    color: white;
}
.modal-dialog .overlay {
    background-color: gray;
    opacity: .3;
}

/*======= select2 multiple add arrow*/
.select2-selection--multiple:before {
    content: "";
    position: absolute;
    right: 15px;
    top: 47%;
    border-top: 5px solid #888;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    cursor: pointer;
}

 /*======= Select2 single add arrow - only for elements with select2-single-arrow class */
 .select2-single-arrow + .select2-container .select2-selection--single:before {
    content: "";
    position: absolute;
    right: 15px;
    top: 47%;
    border-top: 5px solid #888;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    cursor: pointer;
    z-index: 10;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: white;
    background-color: #5e72e4;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: white;
}

.navbar-vertical .navbar-brand-img, .navbar-vertical .navbar-brand > img {
    max-width: 70%; 
    max-height: 3rem;
    margin-top: 20px;
}

.dataTables_wrapper > .row .col-sm-9{
    position: relative;
}

.dataTables_wrapper > .row .search{
    min-height: 50px;
}

.dataTables_wrapper > .row .search .dataTables_filter{
    position: absolute;
    bottom: 0;
    right: 0;
}

.custom-control-label::before {
    left: -1.5rem;
}

.btn-save, #btn_registration{
    min-width: 150px;
}
.btn-save .btn-loader-icon {
    font-size: 19px;
}

.dataTables_wrapper .filter-1 {
    padding-left: 1.5rem !important;
}

.view_filters{
    padding: 0.5rem 1.5rem;
}

.nav-item .badge-text-menu {
    margin-left: -16px;
    margin-top: -14px;
    font-size: 11px;
    color: inherit;
    background-color: transparent!important;
    font-weight: bold;
}
.tooltip-inner {
    text-align: left;
    padding: 15px;
}


.tooltip-help {
    cursor:pointer;
    padding: 1px;
    border-radius: 16px;
    background-color: black;
    color: white;
    font-size: 12px;
    width: 20px;
    margin: 0;
}

.bg-secondary {
    background-color: black!important;
}
.btn-primary {
    color: #fff!important;
    border-color: #4e4e4e!important;
    background-color: #000000!important;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.btn-primary:hover {
    color: #fff;
    border-color: #444444;    
}
.btn-default {
    border-color: #fff;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.btn-default:hover { 
    border-color: #fff;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.btn-default:not(:disabled):not(.disabled):active, .btn-default:not(:disabled):not(.disabled).active, .show > .btn-default.dropdown-toggle {
    border-color: #fff;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}


.btn:hover {
    text-decoration: none;
    color: #262626;
}

.btn {
    color:black;
}
.dropdown-item {
    color:black!important;
}

.page-item.active .page-link {
    background-color: #000000!important;
}

.badge-primary {
    background-color: #000000!important;
}

/*select2 multiple selection tag css - adjustments*/
li.select2-selection__choice {
    background-color: #000000!important;
    line-height: 1.5 !important;
    padding: .625rem .625rem .5rem !important;
    color: #fff !important;
    border-radius: .25rem !important;
    background: #000000!important;
    box-shadow: 0 1px 2px rgb(68 68 68 / 25%);
    font-size: 77% !important;
    margin: .125rem !important;
    margin-right: 5px !important;
}

.navbar-vertical .navbar-nav .nav-link {
    color: black !important;
    font-weight: 500;
}

.navbar-vertical .navbar-nav .nav-item a.active .sidenav-normal {
    font-weight: 600 !important;
    color: black !important;
}

.nav-link {
    color: black !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: black !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: black !important;
}

.table .thead-light th {
    color: black !important;;    
}

body {
    color: black !important;
}

.navbar-vertical .navbar-nav .nav-link > i {
    color: black !important;
}

.table {
    color: black !important;
}

.custom-select {    
    color: black;
}
.form-control {
    color: black;
}
.form-control:focus {
    color:black;
}

.text-light {
    color: #9b9c9d!important;
}

.alert-default {
    background-color: black!important;
}

.alert-notify:not(.alert-info):not(.alert-success):not(.alert-warning):not(.alert-danger) {
    background-color: black!important;
}

/*switch component*/
.custom-toggle input:disabled:checked + .custom-toggle-slider:before {
    background-color: #dbdbdb;
}

.card-body {
    @media screen and (max-width: 768px) {
        padding-left: 25px !important;
        padding-right: 25px !important;
        
    }
}

.top-separator-desktop {
    @media screen and (min-width: 768px) {
        min-height: 146px;
    }
    
}

