#create an .env file with this structure:

APP_BASE_URL=http://localhost:3001/

MARIADB_ROOT_PASSWORD=lunar
MARIADB_DATABASE=lunar_local
MARIADB_USER=lunar
MARIADB_PASSWORD=lunar

IS_DEVELOPER_MACHINE=true

EPICPAY_ONBOARD_FORM_TEST=TRUE

SET_SAME_SITE_NONE=FALSE

ZAPIER_ENABLED=FALSE
EMAILING_ENABLED=TRUE
CODEIGNITER_SMTP_USER=
CODEIGNITER_SMTP_PASS=
MAILGUN_DOMAIN=
MAILGUN_API_KEY=

#depending of the test value the twilio account sid and auth token will be set
PROVIDER_MESSENGER_TEST=FALSE

TWILIO_ACCOUNT_SID_LIVE=
TWILIO_AUTH_TOKEN_LIVE=

TWILIO_ACCOUNT_SID_TEST=
TWILIO_AUTH_TOKEN_TEST=

APPCUES_ENABLED=FALSE

#====== GOOD BARBER
GOODBARBER_COOKIES=
GOODBARBER_RESELLER_USERNAME=
GOODBARBER_RESELLER_PASSWORD=
GOODBARBER_APP_WITH_ORGNX=FALSE  #//==== Create app only if there is an orgnx verified

#====== RECAPTCHA
RECAPTCHA_ENABLED=FALSE
RECAPTCHA_SECRET_KEY=
RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_THRESHOLD=0.6 #//===== RECAPTCHA SUCCESS IF SCORE >= THRESHOLD [VALUES BETWEEN 0.1 & 1]

#//====== PLANNING CENTER OAUTH
PLANNINGCENTER_REDIRECT_URL=integrations/planningcenter/oauthcomplete #base url will be added
PLANNINGCENTER_TOKEN_URL=
PLANNINGCENTER_CLIENT_ID=
PLANNINGCENTER_SECRET=

#//===== INTERCOM
FORCE_HIDE_INTERCOM=TRUE

#//===== GOOGLE
GOOGLE_CODE_API=

ZAPIER_POLLING_KPIS_USER=                                    
ZAPIER_POLLING_KPIS_PASS=

#//stripe oauth connection apollo eleven inc | live
STRIPE_OAUTH_CLIENT_ID=
STRIPE_OAUTH_SECRET=

#//freshbooks oauth connection apollo eleven inc | live
FRESHBOOKS_OAUTH_CLIENT_ID=
FRESHBOOKS_OAUTH_SECRET=

#//quickbooks oauth connection apollo elevein inc | live
QUICKBOOKS_OAUTH_CLIENT_ID=
QUICKBOOKS_OAUTH_SECRET=

#/////////////////////////////////////////////

fortis_environment=dev #dev or prd
fortis_encrypt_phrase=
fortis_developer_id_sandbox=
fortis_user_id_sandbox=
fortis_user_api_key_sandbox=
fortis_location_id_sandbox=
fortis_developer_id_production=
fortis_user_id_production=
fortis_user_api_key_production=

integrations_encrypt_phrase=

###
paysafe_encrypt_phrase=
paysafe_partner_user_test=
paysafe_partner_passsword_test=
#//for single use token check constants_ext.php

paysafe_partner_user_live=
paysafe_partner_passsword_live=
paysafe_environment=dev  #//dev or prd

fortis_onboarding_user_id_production=
fortis_onboarding_user_api_key_production=